header {
    display: grid;
    height:20%;
    background-color: #ff7f32;
}

.pic {
    display: flex;
    height:55%;
    background-color: #ff7f32;;

    justify-content: center;
    align-items: center;
    overflow: hidden
}

.pic img {
    min-width: 100%;
    min-height: 100%
}

.shell {
    display: grid;
    height: 20%;
    width: 100%;
    background-color: black;
    color: orange;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 32px;
    white-space: pre;
    margin: 0 0rem;
}

.shell p {
    margin: 0;
    display: inline-block;

}
footer {
    display: grid;
    height:5%;
    background-color: #ff7f32;;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

html {
    background-color: #ff7f32;;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
